# Ignore backend virtual environment
venv/

# Ignore backend environment local file for configuration
.env.local

# Ignore Google API credentials and token
credentials.json
token.json

# Ignore .DS_Store 
.DS_Store

# Ignore vscode dir and settings
.vscode/

# Ignore Byte-compiled / optimized / DLI file(s)
__pycache__/

# Ignore key.py file for APP secret key
key.py